# Python Tuples

## How to Create a Tuple

In [1]:
marks = (95, 86, 75, 93)

print(marks)

type(marks)

(95, 86, 75, 93)

tuple

## Tuple Packing

In [2]:
age = 45, 34, 26, 20

age

(45, 34, 26, 20)

## Tuple Unpacking

In [3]:
a, b, c, d = age

display(a,
       b,
       c,
       d)

45

34

26

20

In [4]:
## A tuple can contain different data types

percentages = (50.5, 89.9, 95.78, "eighty", 40, "sixty")

percentages

(50.5, 89.9, 95.78, 'eighty', 40, 'sixty')

## Accessing a Single Item

In [6]:
percentages[3]

'eighty'

## Slicing a Tuple

### Positive Indexing
Positive indices traverse the list from the left

In [7]:
## Printing out items from index 2 to index 3 (upper index not included)

percentages[2:4]

(95.78, 'eighty')

In [8]:
## Printing out items from the beginning to the item at index 3.

percentages[:4]

(50.5, 89.9, 95.78, 'eighty')

In [9]:
## Printing out items from index 3 to the end of the list.

percentages[3:]

('eighty', 40, 'sixty')

### Negative Indexing

It begins traversing from the right.

In [10]:
## Dropping two elements from the last

percentages[:-2]

(50.5, 89.9, 95.78, 'eighty')

In [11]:
## Printing out items from two items from the end to the end.

percentages[-2:]

(40, 'sixty')

### To print all the elements of the tuple

In [12]:
percentages[:]

(50.5, 89.9, 95.78, 'eighty', 40, 'sixty')

## Reassigning Tuples in Python

In [14]:
colors = ('red', 'green', 'blue', 'orange')

colors

('red', 'green', 'blue', 'orange')

In [15]:
## Reassigning will throw error

colors[2] = 'black'

TypeError: 'tuple' object does not support item assignment

In [16]:
## But if we have a list within a tuple, we can reassign the elements in that list

colors = ("red", "green", "blue", ["orange", "black", "brown"], "silver")

colors

('red', 'green', 'blue', ['orange', 'black', 'brown'], 'silver')

In [17]:
colors[3][1] = "golden"

colors

('red', 'green', 'blue', ['orange', 'golden', 'brown'], 'silver')

## Python Tuple Functions

### len()

In [18]:
percentages = (50.5, 89.9, 95.78, "eighty", 40, "sixty")

len(percentages)

6

### max()

In [21]:
percentages = (50.5, 89.9, 95.78, 40)

max(percentages)

95.78

In [22]:
## We can apply the max function on 2 strings also

fruits = ("banana", "orange", "pear")

max(fruits)

'pear'

In [23]:
## We however, cannot compare int/ float with srtings

percentages = (50.5, 89.9, 95.78, "eighty", 40, "sixty")

max(percentages)

TypeError: '>' not supported between instances of 'str' and 'float'

### min()

In [24]:
percentages = (50.5, 89.9, 95.78, 40)

min(percentages)

40

### sum()

In [25]:
percentages = (50.5, 89.9, 95.78, 40)

sum(percentages)

276.18

In [26]:
## We however, cannot apply sum() function on strings

numbers = ("1", "2", "3", "4")

sum(numbers)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### sorted()

In [27]:
percentages = (50.5, 89.9, 95.78, 40)

sorted(percentages)

[40, 50.5, 89.9, 95.78]

### tuple()

In [31]:
numbers = [1,2,3,4,5,6]

tuple(numbers)

(1, 2, 3, 4, 5, 6)

In [32]:
## A string can also be converted to numbers

statement = "Welcome to Techopaths"

tuple(statement)

('W',
 'e',
 'l',
 'c',
 'o',
 'm',
 'e',
 ' ',
 't',
 'o',
 ' ',
 'T',
 'e',
 'c',
 'h',
 'o',
 'p',
 'a',
 't',
 'h',
 's')

### .index()

In [33]:
percentages = (50.5, 89.9, 95.78, 40)

percentages.index(89.9)

1

### .count()

In [36]:
numbers = (1, 2, 3, 3, 7, 8, 2, 5, 6, 7, 7, 7, 7, 8, 9, 4)

numbers.count(7)

5

### Membership Operators

In [38]:
string1 = "Welcome to Techopaths"

"o" in string1

True

In [39]:
"o" not in string1

False

In [40]:
"x" in string1

False

### Concatenation

In [41]:
(4,5,6) + (1,2,3)

(4, 5, 6, 1, 2, 3)

In [42]:
("apple", "mango", "pear") + ("red", "yellow", "green")

('apple', 'mango', 'pear', 'red', 'yellow', 'green')

In [43]:
("red", "green", "blue") + (3,4,5)

('red', 'green', 'blue', 3, 4, 5)

### Logical Operators

In [44]:
(1, 5, 7) > (2, 4, 3)

False

In [45]:
(5, 7, 9) > (2, 3, 4)

True

In [46]:
(1, 2) == (2, 1)

False

In [47]:
(99, 100) == (99, 100)

True

## Nested Tuples

In [53]:
colors = ("red", "green", ("blue", "golden",("orange", "pink")), "silver", "brown")

colors[2][1]

'golden'

## Iterating on a Python Tuple

In [58]:
numbers = (3, 9, 5, 7, 2, 6)

for i in numbers:
    print(i)

3
9
5
7
2
6

## Deleting a Python Tuple

In [60]:
numbers = (3, 9, 5, 7, 2, 6)
numbers

(3, 9, 5, 7, 2, 6)

In [61]:
## We can delete single element of a tuple because of immutability

del numbers[4]

TypeError: 'tuple' object doesn't support item deletion

In [62]:
## We can't even delete slices

del numbers[2:4]

TypeError: 'tuple' object does not support item deletion

In [63]:
## We ultimately have to delete the whole tuple

del numbers

numbers

NameError: name 'numbers' is not defined