# Python Lists

## How to Create Python List?

In [7]:
colors = ['red','orange','yellow', 'green']

print(colors)

type(colors)

['red', 'orange', 'yellow', 'green']

list

In [2]:
weights = [26, 65.5, 'twenty-four', 45.5, 89]

print(weights)

type(weights)

[26, 65.5, 'twenty-four', 45.5, 89]

list

### List within a list

In [3]:
heights =[[152, 157, 162], 155, 142, [134, 136], [142.5, 144.9], 'one hundred sixty']

print(heights)

type(heights)

[[152, 157, 162], 155, 142, [134, 136], [142.5, 144.9], 'one hundred sixty']

list

### A list with tuples in it

In [4]:
Languages = ['Hindi', 'English', ('Marathi', 'Malyalam'), 'Spanish', 'French']

print(Languages)

type(Languages)

['Hindi', 'English', ('Marathi', 'Malyalam'), 'Spanish', 'French']

list

## How to Access Python List?

### Accessing the whole list

In [8]:
## Directly call the name

colors

['red', 'orange', 'yellow', 'green']

In [9]:
## Use print statement

print(heights)

[[152, 157, 162], 155, 142, [134, 136], [142.5, 144.9], 'one hundred sixty']

### Accessing single element

In [11]:
numbers = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

numbers

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [12]:
## First element of the list

numbers[0]

'one'

In [13]:
## Third element of the list

numbers[2]

'three'

### Accessing elements of a list within a list

In [14]:
heights =[[152, 157, 162], 155, 142, [134, 136], [142.5, 144.9], 'one hundred sixty']

heights

[[152, 157, 162], 155, 142, [134, 136], [142.5, 144.9], 'one hundred sixty']

In [16]:
## Accessing the second element of the first list stored in variable heights

heights[0][1]

157

In [17]:
## Accessing the first element of the second list stored in variable heights

heights[3][0]

134

In [19]:
## Accessing the third element of the last list stored in variable heights

heights[4][1]

144.9

## Slicing a Python List

### Positive Indexing

In [27]:
numbers = ['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

numbers

['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [28]:
## Accessing first 3 elements of the list (implies elements at index 0,1,2)

numbers[0:3]

['zero', 'one', 'two']

In [29]:
## Accessing items from index 2 to index 4 (implies elements at index 2,3,4)

numbers [2:5]

['two', 'three', 'four']

In [30]:
## Accessing all the elements starting from index 4 

numbers[4:]

['four', 'five', 'six', 'seven', 'eight']

In [33]:
## Accesing all the elements till index number 4 (implies elemets at index 0,1,2,3,4)

numbers[:5]

['zero', 'one', 'two', 'three', 'four']

In [34]:
## Accessing all the elements of the list

numbers [:]

['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

### Negative Indexing

In [35]:
numbers = ['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

numbers

['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [37]:
## Accessing all the elements except last

numbers[:-1]

['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [38]:
## Accessing all the elements except last two elements

numbers[:-2]

['zero', 'one', 'two', 'three', 'four', 'five', 'six']

In [39]:
## Accessing all elements excluding the last two and element at index 0 

numbers[1:-2]

['one', 'two', 'three', 'four', 'five', 'six']

In [43]:
## Accessing only the last element of the list

numbers[-1:]

['eight']

In [44]:
## Accessing the last two elements 

numbers[-2:]

['seven', 'eight']

In [45]:
## Accessing only the second last element

numbers[-2:-1]

['seven']

## Reassignment of values in lists

### Reassigning the whole Python list

In [49]:
fruits = ['apple', 'mango', 'pear']
fruits

['apple', 'mango', 'pear']

In [51]:
fruits = ['grapes', 'strawberry', 'kiwi', 'banana', 'mango', 'orange']
fruits

['grapes', 'strawberry', 'kiwi', 'banana', 'mango', 'orange']

### Reassigning a few elements

In [52]:
fruits[3:5]= ['apple', 'pear']
fruits

['grapes', 'strawberry', 'kiwi', 'apple', 'pear', 'orange']

### Reassigning a single element

In [53]:
## Reassigning element at index 0

fruits[0] = 'mango'
fruits

['mango', 'strawberry', 'kiwi', 'apple', 'pear', 'orange']

## Adding a new element to the list

In [57]:
fruits = ['apple', 'mango', 'pear']
fruits

['apple', 'mango', 'pear']

In [55]:
fruits[4] ='guava'

IndexError: list assignment index out of range

In [56]:
fruits = ['apple', 'mango', 'pear', 'guava']
fruits

['apple', 'mango', 'pear', 'guava']

## Concatenation of Python List

In [60]:
a = [1,2,3]
b = [4,5,6,7,8]

a+b

[1, 2, 3, 4, 5, 6, 7, 8]

In [59]:
fruits = ['apple', 'mango', 'pear']

colors = ['red', 'yellow', 'green']

fruits + colors

['apple', 'mango', 'pear', 'red', 'yellow', 'green']

## Mathematical Operations on lists

### Multiplication

In [62]:
a = [2,3,4,5]
print(a)

a = a*3
print(a)

[2, 3, 4, 5]
[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]

### Membership

In [63]:
2 in a

True

In [64]:
1 in a

False

### Length of list

In [66]:
a = [2,3,4,5]
print(a)
len(a)

[2, 3, 4, 5]

4

### Maximum Value

In [67]:
max(a)

5

### Minimum Value

In [68]:
min(a)

2

### Sum of all elements

In [69]:
sum(a)

14

### Sorting elements

In [70]:
b = [6,9,3,2,8,4,5]

print(b)

sorted(b)

[6, 9, 3, 2, 8, 4, 5]

[2, 3, 4, 5, 6, 8, 9]

## Deleting elements of a list

### Deleting few elements

In [73]:
b = [6,9,3,2,8,4,5]
print(b)

## remove elements from index 2 to 3
del b[2:4]
print(b)

[6, 9, 3, 2, 8, 4, 5]
[6, 9, 8, 4, 5]

### Deleting one element

In [74]:
b = [6,9,3,2,8,4,5]
print(b)

## remove element at index 3
del b[3]

[6, 9, 3, 2, 8, 4, 5]

### Deleting the whole list

In [75]:
del b

print(b)

NameError: name 'b' is not defined