# Numbers

## Integer

In [5]:
a = 899

print(a)

type(a)

899

int

In [4]:
b = -6

print(b)

type(b)

-6

int

## Float

In [6]:
c = 3.55

print(c)

type(c)

3.55

float

## Complex

In [7]:
d = 2+5j

print(d)

type(d)

(2+5j)

complex

# Strings

In [8]:
City = 'Delhi'

print(City)

type(City)

Delhi

str

In [9]:
Name = "Techopaths"

print(Name)

type(Name)

Techopaths

str

# Lists

In [22]:
a = [ ]

type(a)

list

In [10]:
ages = [23, 45, 67, 9, 43]

print(ages)

type(ages)

[23, 45, 67, 9, 43]

list

In [11]:
fruits = ["apple", "mango", "pear", "grapes"]

print(fruits)

type(fruits)

['apple', 'mango', 'pear', 'grapes']

list

In [12]:
weights = [34, 55.5, 60, "eighty eight", 26.6]

print(weights)

type(weights)

[34, 55.5, 60, 'eighty eight', 26.6]

list

# Tuples

In [13]:
languages = ("Python", "R", "Java", "C", "C++")

print(languages)

type(languages)

('Python', 'R', 'Java', 'C', 'C++')

tuple

In [14]:
heights = (156, 142, 136, 186.3, 174.5, "one hundred forty")

print(heights)

type(heights)

(156, 142, 136, 186.3, 174.5, 'one hundred forty')

tuple

# Dictionaries

In [16]:
employee = {'Name':'John',
            'Age':26,
            'City': 'New York',
            'Department': 'IT'    
            }

print(employee)

type(employee)

{'Name': 'John', 'Age': 26, 'City': 'New York', 'Department': 'IT'}

dict

# Sets

In [18]:
numbers = {30, 56, 87, 95.5, 45.7, 34, 26, 72.2, 'fifty four'}

print(numbers)

type(numbers)

{34, 72.2, 45.7, 87, 56, 26, 'fifty four', 30, 95.5}

set

In [19]:
a = {1,2,2,3,4,5,5,6,7,7,7,7,7,7,9,9,9,9,9,9,9}

print(a)

type(a)

{1, 2, 3, 4, 5, 6, 7, 9}

set

# Boolean

In [20]:
b = 5 > 9

type(b)

bool

In [21]:
c = 2 < 6

type(c)

bool