## For rounding off after decimal places

In [4]:
'%.2f'%(8.64395709357)    ## learn the syntax  ## f represents floating values ## op will be in the form of string

'8.64'

In [5]:
'%.5f'%(8.99)

'8.99000'

In [6]:
'%.5d'%(4555.0989)    ## removes decimals

'04555'

In [8]:
'%.2d'%(4555.0989)

'4555'

In [9]:
'%.3d'%(4555.0989)

'4555'

In [10]:
'%.7d'%(4555.0989)

'0004555'

# String Formatting

### .format()

**The count of placeholders { } and the values in .format tuple should be equal,otherwise error will be raised.**

In [11]:
insti = "Imarticus"

print('{} welcomes you'.format(insti))

Imarticus welcomes you

In [12]:
print('{} welcomes you to its {} centre'. format("Imarticus", "Delhi"))

Imarticus welcomes you to its Delhi centre

In [14]:
print('{0} welcomes you to its {1} centre'.format("Imarticus", "Delhi"))

Imarticus welcomes you to its Delhi centre

In [15]:
print('{} welcomes you to its {} centre'. format("Imarticus", "Delhi", "India"))

Imarticus welcomes you to its Delhi centre

In [16]:
print('{1} welcomes you to its {0} centre'.format("Imarticus", "Delhi"))

Delhi welcomes you to its Imarticus centre

In [17]:
print('{} welcomes you to its {} {} centre'. format("Imarticus", "Delhi", "India"))

Imarticus welcomes you to its Delhi India centre

In [18]:
inst=["imarticus", "delhi"]

print('{0} welcomes you to its {1} centre'.format(inst[0], inst[1]))

imarticus welcomes you to its delhi centre

In [19]:
inst=["imarticus", "delhi"]

print('{1} welcomes you to its {0} centre'.format(inst[0], inst[1]))

delhi welcomes you to its imarticus centre

In [20]:
l = ["abc", "def", "ghi"]

print("{1}, {2}, {0}".format(*l))

def, ghi, abc

In [21]:
print('{0:0.2f} welcomes you {1:0.5f}'.format(99.9999, 92.5))

100.00 welcomes you 92.50000

In [22]:
print('{1:0.2f} welcomes you {0:0.5f}'.format(99.9999, 92.5))

92.50 welcomes you 99.99990

In [23]:
## syntax (index : no of places required)


print('{:0.2f} welcomes you {:0.5f}'.format(99.9999, 92.5))

100.00 welcomes you 92.50000

In [24]:
print('{a:0.2f} welcomes you {b:0.5f}'.format(a=99.9999, b=92.5))

100.00 welcomes you 92.50000

In [25]:
print('{a:.0f},welcomes you at its {b:0.5f} centre {c:0.3f}.'.format(a = 50.48,b = 65.96,c = 78.89142))

50,welcomes you at its 65.96000 centre 78.891.

### %s - String (or any object with a string representation, like numbers)

### %d - Integers

### %f - Floating point numbers

In [28]:
name = "john"
age = 23

print("%s is %d years old"%(name, age))

john is 23 years old

In [29]:
name = "john"
age = 23

print("%s is %f years old"%(name, age))

john is 23.000000 years old

In [30]:
name = "john"
age = 23

print("%s is %.2f years old"%(name, age))

john is 23.00 years old

In [34]:
name = "john"
age = 23

print("%20s is %9d years old" % (name, age))  ##in value before s and d inducce spaces

                john is        23 years old

In [35]:
name = 85
age = 23

print("%s is %.2f years old"%(name, age))

85 is 23.00 years old

In [36]:
name = "John"
age = 23

print("%s is %d years old." % (name, 45)) # John is 23 years old.

print("%s is %0.5d years old." % (name, age)) # John is 00023 years old.

print("%10s is %5d years old." % (name, age)) # John is 23 years old.

print("%s is %.2f years old." % ('john', 23)) # john is 23.00 years old.

John is 45 years old.
John is 00023 years old.
      John is    23 years old.
john is 23.00 years old.