## Declaring a Python String

In [1]:
name = "My name is Techopaths"

print(name)

My name is Techopaths

In [4]:
name = 'My name is Techopaths'

print(name)

type(name)  ## checking the type of the the variable "name"

My name is Techopaths

str

## Using Quotes inside Python String

In [5]:
question = 'Isn't that a parrot?'

print(question)

SyntaxError: invalid syntax (<ipython-input-5-d796fecba6d8>, line 1)

In [7]:
question = "Isn't that a parrot?"

print(question)

Isn't that a parrot?

In [8]:
b = "I was "surprised""

print(b)

SyntaxError: invalid syntax (<ipython-input-8-0a440599b910>, line 1)

In [10]:
b = 'I was "surprised"'

print(b)

I was "surprised"

## Spanning a String Across Lines

In [15]:
a= """Hello,
  How are you"""

print(a)

Hello,
  How are you

In [17]:
a= "Hello,\
    How are you?"

print(a)

Hello,    How are you?

## Strings are Immutable

In [18]:
name = "Techopaths"

name[0] = "H"

TypeError: 'str' object does not support item assignment

## Accessing Elements of a String

### 1. Displaying Single Character

In [19]:
name = "Techopaths"

print(name)

name[2]

Techopaths

'c'

### 2. Slicing a String

In [20]:
name[2:5]

'cho'

In [21]:
name[:4]

'Tech'

In [22]:
name[5:]

'paths'

In [23]:
name[:]

'Techopaths'

In [24]:
name[:-2]

'Techopat'

## String Concatenation

In [26]:
a = "I will "

b = "Learn Python"

a+b

'I will Learn Python'

In [27]:
a = "Techopaths"

print(a*2)

TechopathsTechopaths

In [28]:
## We cannot concatenate different data types 

"twenty" +10

TypeError: can only concatenate str (not "int") to str

In [29]:
"20" + 10

TypeError: can only concatenate str (not "int") to str

## String Formatters

### 1. f- Strings

In [1]:
animal = 'Dog'

print(f"{animal} isn't a reptile")

Dog isn't a reptile

### 2. format() method

In [6]:
fruit = 'apples'

print("I like {0}".format(fruit))

I like apples

In [7]:
print("I love {a}".format(a = 'oranges'))

I love oranges

### 3. % Operator

In [8]:
## %s is for string

a = "apples"

b = "oranges"

print("I love %s and %s" %(a,b))

I love apples and oranges

In [9]:
## %d – for integers

name = "Joe"

age = 21

print("%s is %d years old" %(name, age))

Joe is 21 years old

In [11]:
## %f – for floating-point numbers

name = "Joe"

earnings = 199.99

print("%s earned %f dollars" %(name, earnings))

Joe earned 199.990000 dollars

## String Functions

### 1. len()

In [12]:
a = "novel"

len(a)

5

In [13]:
## To check the lenght of a slice of string

len(a[2:])

3

### 2. str()

In [14]:
age = 45

str(age)

'45'

### 3. lower()

In [15]:
a = 'NOVEL'

a.lower()

'novel'

### 4. upper()

In [16]:
name = "techopaths"

name.upper()

'TECHOPATHS'

### 5. strip()

In [17]:
a = '  Techopaths '

a.strip()

'Techopaths'

### 6. isdigit()

In [20]:
a = '9999'

a.isdigit()

True

In [19]:
a = '9ab'

a.isdigit()

False

### 7. isalpha()

In [21]:
a = 'Techopaths'

a.isalpha()

True

In [22]:
a = 'Techopaths99'

a.isalpha()

False

### 8. isspace()

In [23]:
a = '   '

a.isspace()

True

In [24]:
a = '    2    '

a.isspace()

False

### 9. startswith()

In [25]:
a = "Techopaths"

a.startswith('Te')

True

In [26]:
a = "Techopaths"

a.startswith('Th')

False

### 10. endswith()

In [28]:
color = "Pink"

color.endswith('nk')

True

In [29]:
color.endswith("P")

False

### 11. find()

In [31]:
color = 'Pink'

color.find("in")

1

In [32]:
color.find("Pk")

-1

### 12. replace()

In [35]:
'banana'.replace('na', 'ha')

'bahaha'

In [36]:
fruit = 'banana'

fruit.replace("na", "ha")

'bahaha'

### 13. split()

In [37]:
question = "how.do.you.do?"

question.split(".")

['how', 'do', 'you', 'do?']

### 14. join()

In [38]:
numbers = ['one', 'two', 'three']

"*".join(numbers)

'one*two*three'

## Python String Operations

### 1. Comparison Operators

In [39]:
'hello' < 'how'

True

In [40]:
name = 'Techopaths'

name == 'Techopaths'

True

In [41]:
name == "Tech"

False

In [42]:
"yes" != "no"

True

### 2. Arithmetic Operators

In [43]:
"My " + "name " + "is " + "Tin"*2

'My name is TinTin'

### 3. Membership Operators

In [44]:
"pp" in "apple"

True

In [45]:
"ma" not in "animals"

False

### 4. Identity Operators

In [46]:
"Hi" is "Hello"

False

In [47]:
"Hi" is not "Hello"

True